
<h2>Index</h2>
<hr>
<h2>If you're new to this click here,
<a href="jithin/register">
<input type="button" value="Register"/></a>

<h2>Existing user?<h2>
<a href="jithin/login">
<input type="button" value="Log in "/>
</a>
